* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.homepage--index {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ec8f24;
  color: #333;
  line-height: 1.6;
}

header {
  background: #72462e;
  background-image: linear-gradient(to bottom, #72462e, #ec8f24);
  color: white;
  padding: 53px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 80px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 250px;
  width: auto;
  object-fit: contain;
  margin-top: 50px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.order-btn {  
  color: #e68a00;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

.order-btn:hover {
  background-color: #FFA500;
  color: white;
}

.hero {
  background: url('../media/hero.jpg') center/cover no-repeat;
  height: 60vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.site-name {
  font-family: 'Segoe UI', sans-serif;
  position: flex;
  left: 50%;
  /*transform: translateX(-50%);*/
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center; /*akein: added to "center sunny corner cafe"*/
  text-shadow: #925319 5px 10px 10px;/*akein: added to "font shadow"*/
}

.hero h1 span {
  color: var(--secondary-color);
}

.hero-subtitle {
  font-size: 2rem;
  margin-bottom: 10px;
  font-style: italic;
  color: #fff;
  text-align: center;
}

.hero-description {
  font-size: 1.2rem;
  margin: 10px 0;
  max-width: 600px;
  line-height: 1.8;
}

.hero-subtitle p {
  font-size: 3.5rem;
  margin: 10px;
  font-weight: bold;
}

/* Hero Button */
.hero-btn {
  padding: 10px 20px;
  background: #f4a261;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
  margin-top: 20px;
}

.hero-btn:hover {
  background: #e76f51;
  color: white;
}

/* General Image Styling */
img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.images img {
  max-width: 0%; /* Adjust width for responsiveness */
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

/* About Main Section */
.about-pv {
  padding: 60px;
  text-align: center;
  background-color: #fefae0;
  background-image: linear-gradient(to top, #fefae0, #ec8f24);
}

.about-text h1 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  color:white;
  text-shadow: #76450d 5px 10px 10px ;/*akein: added to "font shawdow"*/
}

.about-text p {
  font-size: 2rem;
  margin-bottom: 20px;
  color:white;
}

.about-image img {
  width: 60%;
  border-radius: 8px;
  box-shadow: #000 0px 0px 10px 0px;
  margin: 20px auto;
  display: block;
}

/* Menu Main Index Section */
.menu {
  padding: 60px 20px;
  text-align: center;
  background-color: #fefae0;
}

.menu h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #ec8f24;
  text-shadow: #b2ad8e 5px 10px 10px;/*akein: added to "font shawdow"*/
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.menu-item-container {
  margin-bottom: 60px;
}

.menus-item-container h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.menu-text, p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #000;
}

.featured-menu {
  color: #ec8f24;
}

.item {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100%;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

.item h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.item p {
  font-size: 1rem;
  color: var(--primary-color);
}

.item .price {
  font-size: 1.2rem;
  color: #FFA500;
  margin: 10px 0;
  font-weight: bold;
}

/*Chevar Menu Item Price */

main {
  background-color: #fefae0;
}


#Food-lover {
  padding: 60px 20px;
  text-align: center;
  background: url('../media/56f3179f20ee23faa3bbf2ae7012ce69.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
}

.menu-main-heading {
  font-size: 3rem;
  margin-top: 50px;
  color: #000;
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #ec8f24;
  text-shadow: #b2ad8e 5px 10px 10px;                
}

.main-heading-p {
  font-size: 2rem;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.btn-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #000;
  margin: 20px;
}

.btn-container a{
  font-size: 2rem;
}

.btn-category {
  background: #4b2e1e;
  color: #fffdf6;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #fffdf6;
  transition: all 0.3s ease-in-out;
}

.btn-category:hover,.active {
  background: #FFA500;
  color: var(--secondary_color);
  border: 1px solid var(--secondary_color);
}

.menus-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  justify-items: center;
  padding: 20px;
}

.menus-item-container a {
  text-decoration: none;
  color: inherit; /* keeps link color consistent with surrounding text */
}

.img-cards {
  border: 1px solid #4b2e1e; 
  box-shadow: var(--box-shadow); 
  width: auto; 
  max-width: 250px; 
  text-align: center; 
  border-radius: 10px; 
  overflow: hidden; 
  background-color: #fffdf6;
  margin: 0 auto 20px; 
}

.img-cards img {
  padding-top: 20px;
  width: 100%; 
  height: auto;
  box-shadow: var(--box-shadow); 
  border-radius: 10px 10px 0 0; 
  transition: transform 0.3s ease-in-out; 
}

.img-cards img:hover {
  transform: scale(1.05); 
}

.img-cards .price {
  font-size: 1.2rem; 
  color: #FFA500; 
  margin: 10px 0;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.img-cards .description {
  font-size: 1rem; 
  color: #333; 
  margin: 10px 0;
}

.img-cards .description p {
  margin: 0; 
  padding: 0; 
}

/* Chevar Buttons for Menu Categories */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.btn-category {
  background: #fefae0;
  color: #fffdf6;
  text-decoration: none;
  color: #76450d;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #ec8f24;
  text-shadow: #b2ad8e 5px 10px 10px;
}

.btn-category:hover {
  background: var(--secondary-color);
  color: #e68a00;
}

.menu-name {
  background: #fefae0;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ec8f24;
  text-align: center;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  text-shadow: #b2ad8e 5px 10px 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1), -20px -20px 50px rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-name p {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

/* jashuel About Us Page Sections */
.about-section, .story-section, .vision-section, .founders-section, .staff-section, .cta-section {
  padding: 0px 0px;
  text-align: center;
}

.about-section h2, .story-section h2, .vision-section h2, .founders-section h2, .staff-section h2, .explore-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ec8f24;
  font-family: 'Segoe UI', sans-serif;
  text-shadow: #b2ad8e 5px 10px 10px; 
}

.about-section p, .story-section p, .vision-section p, .staff-section p, .founders-section p {
  font-size: 2rem;
  line-height: 1.8;
  color: #000;
}

.about-heading {
  background-image: url('../media/Sunny Corner Sunset.jpg'); 
  background-size: cover; 
  background-position: center; 
  color: white; 
  padding: 50px 20px;
  text-align: center; 
  font-size: 3rem; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}

.founders {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.founder {
  text-align: center;
  width: 200px;
  max-width: 0 auto;
  padding: 20px;
}

.founder img {
  width: 100%;
  height: auto;
  border-radius: 50px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.founder img:hover {
  transform: scale(1.1);
}

.founder p {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.hau{
  text-align: center;
  font-size: 1.5rem;
  color: #4b2e1e;
  margin-bottom: 20px;
  font-family: 'Segoe UI', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-about-us h2, .main-about-us p, .founders, .staff p {
  animation: fadeIn 1s ease-in-out;
  justify-content: center;
}

.staff-member .staff-section{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  text-align: center;
  flex-direction: block;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  margin-top: 20px;
}

.staff-member img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  
}

.staff-member img:hover {
  transform: scale(1.1); 
}

.explore-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #fefae0;
}

.cta-btn {
  padding: 12px 25px;
  background: #4b2e1e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.cta-btn:hover {
  background: #e76f51;
}

/*Contact Us Page*/
.contact-page {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.contact-header {
  text-align: center;
  padding: 40px 20px;
  background-color: #fefae0;
  background-image: linear-gradient(to bottom, #fefae0, #ec8f24);
  color: #4b2e1e;
}

.contact-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-form-section {
  padding: 40px 20px;
  background-color: #fffdf6;
}

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.contact-form-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4b2e1e;
}

.contact-form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4b2e1e;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
  height: 150px;
}

.submit-btn {
  background-color: #f4a261;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #e76f51;
}

.contact-info {
  text-align: center;
  padding: 40px 20px;
  background-color: #fefae0;
}

.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4b2e1e;
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.map-section {
  padding: 40px 20px;
}

.map-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4b2e1e;
}

.map-container iframe {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  background: #e68a00;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 40px;
}

footer .footer-content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer .footer-content p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: white;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

.staff-member p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333; 
}

.order{

  text-align: center;
  padding: 20px;
  font-size: large;
}
